
.header {
    background: transparent url("../images/Image.jpg") no-repeat center/cover;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p,
li {
    color: white;
    text-align: center;
}

.header-container {
    display: flex;
    min-width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #00000066;
}

.header-txt {
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
    padding: 22px;
}

span {
    color: red;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    font-weight: bold;
    padding: 33px 40px;
    text-transform: uppercase;
}

h1 {
    font-size: 90px;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    padding-bottom: 10px;
}

.txt {
    padding-bottom: 54px;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px
}