.menu-container {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.fa-solid {
    color: white;
}

.menu ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-transform: uppercase;
}

.menu-container p span,
.menu-container p {
    font-size: 35px;
    text-transform: uppercase;
}
.menu-container p span{
    color: red;
}

.menu-container p {
    color: white;
    padding-left: 182px;
}

ul li {
    color: #fff;
}

ul li:last-child {
    padding-right: 165px;
}

ul li:nth-of-type(3) {
    padding-right: 57px;
}

ul li:nth-of-type(2) {
    padding-right: 73px;
}

ul li:first-child {
    padding-right: 83px;
}



