.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-image {
    width: 100%;
    padding-bottom: 25px;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 100px;
}

.blog-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.blog-txt {
    width: 75%;
    font-size: 14px;
    color: #6A6A6A;
    padding-bottom: 26px;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.blog {
    padding-top: 91px;
    padding-bottom: 35px;
}

h2::before,
h2::after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: red;

}

h3 {
    font-size: 19px;
    color: #6A6A6A;
    padding-bottom: 15px;
}

.read-more-btn {
    padding: 11px 29px;
    background-color: red;
    color: white;
    transition: background-color 0.5s, box-shadow 0.3s;
    cursor: pointer;
}

.read-more-btn:hover {
    background-color: white;
    color: red;
    box-shadow: 0 0 7px rgba(255,0, 0, 0.5);
}

.service {
    background-color: #28272C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.services h3 {
    padding-top: 15px;
}

.img-hover-zoom {
    overflow: hidden;
    width: 180px;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 110px;
}

.service-img {
    width: 170px;
}

.service-h2 {
    padding-bottom: 75px;
}

/* [1] The container */
.img-hover-zoom {
    width: 170px;
    height: 170px;/* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    border-radius: 50%;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.5);
}

.service-txt {
    text-align: center;
    padding-bottom: 26px;
    width: 231px;
}

.service-h2 {
    color: white;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    padding-bottom: 65px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-img {
    width: 444px;
    height: 317px;
    align-self: flex-start;
}

input[type="text"],
input[type="email"] {
    width: 444px;
    height: 38px;
    padding: 0;
    outline: none;
    border-radius: 8px;
    border: 1px solid lightgray;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border: 1px solid #FF0000;
    box-shadow: 0 1px 6px #FF00004D;
}

textarea {
    width: 444px;
    height: 140px;
    outline: none;
    border-radius: 8px;
    border: 1px solid lightgray;
}

textarea:focus {
    border: 1px solid #FF0000;
    box-shadow: 0 1px 6px #FF00004D;
}

label {
    font-size: 10px;
    width: 412px;
    color: lightgray;
    cursor: pointer;
}

::placeholder {
    color: lightgray;
}

button.send-btn {
    border: 1px solid #FF0000;
    color: red;
    padding: 11px 29px;
    background-color: white;
    align-self: flex-end;
    box-shadow: 0 3px 6px #FF00004D;
    cursor: pointer;
    transition: opacity 0.4s, box-shadow 0.5s;
}

button.send-btn:hover {
    box-shadow: 0 0 10px #FF00004D;
    opacity: 0.7;
}

.contact-h2 {
    padding-top: 65px;
    font-weight: bold;
    padding-bottom: 35px;
}

